/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Style for the cart button */
.cart-button {
    width: 10%;
    height: 6rem;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

/* Style for the cart item */
.singleCart--item {
    border: 1px solid black;
    padding: 1rem 0 1rem 0.4rem;
    display: flex;
    align-items: center; /* Center items vertically */
    margin: 1rem;
}

/* Style for child divs within the cart item */
.singleCart--item div {
    width: 20%;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}
